<% include top.ejs %>
<%if(typeof error != 'undefined'){%>
	<h2 id="errorBox">
		<a href="/" style="text-decoration: none;">&laquo;</a>
		<span class="statusCode">ERROR <%=error.output.statusCode%>:</span>
		<span class="error"><%=error.output.payload.error%></span>
	</h2>
<%}%>
<% include bottom.ejs %>