<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>hapi</title>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/main.js?v=<%=Math.random()%>"></script>
		<script src="/static/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>

		<!--bootstrap-->
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>		
	  	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->		

		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
	</head>
<body>
    <!-- Begin page content -->
    <div class="container">